# node_modules mappák ignorálása mindenhol
**/node_modules/

# macOS metadata
._*
.DS_Store

# VS/VS Code workspace cache
.vs/

# Korábbi projekt / nem releváns fájlok
Magyarország városai/
Címbejelentő.docx